网页应用DSL/会话.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 会话
  use_icon_as_answer_icon: false
kind: app
version: 0.1.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528917469-1711528919501
      selected: false
      source: '1711528917469'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1720795581513-true-1711528917469-target
      selected: false
      source: '1720795581513'
      sourceHandle: 'true'
      target: '1711528917469'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1720795581513-false-17207956461030-target
      selected: false
      source: '1720795581513'
      sourceHandle: 'false'
      target: '17207956461030'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 17207956461030-source-17210423667920-target
      selected: false
      source: '17207956461030'
      sourceHandle: source
      target: '17210423667920'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528914102-source-1711528915811-target
      source: '1711528914102'
      sourceHandle: source
      target: '1711528915811'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: if-else
      id: 1711528915811-source-1720795581513-target
      source: '1711528915811'
      sourceHandle: source
      target: '1720795581513'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: rag_mode
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: rag_mode
      height: 90
      id: '1711528914102'
      position:
        x: 366.0496748040466
        y: 325.56363856127
      positionAbsolute:
        x: 366.0496748040466
        y: 325.56363856127
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - ab13e320-908a-4bff-9581-a8b2ea5da6f6
        desc: ''
        multiple_retrieval_config:
          reranking_model:
            model: ''
            provider: ''
          score_threshold: null
          top_k: 5
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-4o
            provider: openai
        title: Knowledge Retrieval
        type: knowledge-retrieval
      dragging: false
      height: 54
      id: '1711528915811'
      position:
        x: 669.5005158359941
        y: 325.56363856127
      positionAbsolute:
        x: 669.5005158359941
        y: 325.56363856127
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528915811'
          - result
        desc: Invoking large language models to answer questions or process natural
          language
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-4
          provider: openai
        prompt_template:
        - id: 7766622d-ccc8-415d-afe8-ba5f93785b5d
          role: system
          text: "You are a helpful assistant. \nUse the following context as your\
            \ learned knowledge, inside <context></context> XML tags.\n<context>\n\
            {{#context#}}\n</context>\nWhen answer to user, you need to strictly comply\
            \ with the following requirements:\n- If there is no relevant knowledge\
            \ in the context, just say that you don't know.\n- If you don't know when\
            \ you are not sure, ask for clarification.\n- Avoid mentioning that you\
            \ obtained the information from the context.\n- Answer according to the\
            \ language of the user's question."
        selected: false
        title: 精确匹配
        type: llm
        variables: []
        vision:
          enabled: false
      height: 158
      id: '1711528917469'
      position:
        x: 1242
        y: 282
      positionAbsolute:
        x: 1242
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1711528917469.text#}}

          '
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 107
      id: '1711528919501'
      position:
        x: 1546
        y: 282
      positionAbsolute:
        x: 1546
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: '1720795591184'
            value: exact
            variable_selector:
            - '1711528914102'
            - rag_mode
          logical_operator: and
        conditions:
        - comparison_operator: is
          id: '1720795591184'
          value: exact
          variable_selector:
          - '1711528914102'
          - rag_mode
        desc: ''
        logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 126
      id: '1720795581513'
      position:
        x: 956.4286792505311
        y: 325.56363856127
      positionAbsolute:
        x: 956.4286792505311
        y: 325.56363856127
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528915811'
          - result
        desc: Invoking large language models to answer questions or process natural
          language
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-4
          provider: openai
        prompt_template:
        - id: 7766622d-ccc8-415d-afe8-ba5f93785b5d
          role: system
          text: "You are a helpful assistant. \nUse the following context as your\
            \ learned knowledge, inside <context></context> XML tags.\n<context>\n\
            {{#context#}}\n</context>\nWhen answer to user:\n- If you don't know when\
            \ you are not sure, ask for clarification.\nAnswer based on context and\
            \ as much knowledge as you can think of.\nAvoid mentioning that you obtained\
            \ the information from the context.\nAnd answer according to the language\
            \ of the user's question."
        selected: true
        title: 混合匹配
        type: llm
        variables: []
        vision:
          enabled: false
      height: 158
      id: '17207956461030'
      position:
        x: 1242
        y: 486
      positionAbsolute:
        x: 1242
        y: 486
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#17207956461030.text#}}'
        desc: ''
        selected: false
        title: Answer (1)
        type: answer
        variables: []
      height: 107
      id: '17210423667920'
      position:
        x: 1546
        y: 486
      positionAbsolute:
        x: 1546
        y: 486
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -152.7315662248974
      y: 122.8308305905814
      zoom: 0.6999999999999998
